@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.dropbtn {
  background-color: rgb(148, 9, 106);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px;
}

.card-icon {
  padding-top: -6px;
  vertical-align: middle;
  margin-right: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

main {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.heatmap {
  width: 90vw !important;
  height: 100vh !important;
}

#botchat {
  width: 90vw !important;
  height: 100vh !important;
}

/* header style */

.page .header {
  text-align: center;
}

.page .header .logo, .page .header p, .page .header button {
  margin-bottom: 15px;
}

.page .header>p {
  font-weight: bold;
  color: #8e8e8e;
  font-size: 18px;
}

.page .header>button {
  width: inherit;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0095f6;
  color: #ffffff;
}

.page .header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8e8e8e;
}

.page .header div p {
  padding: 0 20px;
}

.page .header div hr {
  width: 200px;
}

/* container style*/

.page .container {
  /*   display: flex; */
  flex-direction: column;
}

/* .page .container form, input{
    width: inherit;
  } */

.page .container form input {
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding: 10px 5px;
  margin: 5px 0;
}

.page .container form input:last-of-type {
  margin-bottom: 10px;
}

.page .container form button {
  width: inherit;
  margin-bottom: 20px;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0095f6;
  color: #ffffff;
}

.page .container ul {
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}

.page .container ul li {
  display: inline;
  color: #8e9096;
}

.page .container ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #8e9096;
}

/* option style */

.option p>a {
  text-decoration: none;
  color: #00a0f7;
}

/* otherapps style */

/*   .otherapps{
    text-align: center;
  } */

.otherapps p {
  margin-bottom: 15px;
}

.otherapps>button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 18px;
}

/* footer style */

.footer {
  bottom: 0;
  height: 2.5rem;
  margin-top: 50px;
}

.footer ul {
  text-align: center;
}

.footer ul li {
  display: inline;
  margin-right: 5px;
}

.footer ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #00376b;
}

.footer p {
  margin: 10px 0;
  text-align: center;
  color: #8e9096;
  font-size: 14px;
}

/* Mobile Styles */

@media only screen and (max-width: 400px) {
  body {
    font-family: "Ubuntu", sans-serif;
  }
  .page {
    width: 250px;
    background-color: #fafafa;
  }
  .page .header {
    width: inherit;
    margin-top: 10px;
  }
  .page .container {
    width: inherit;
  }
  .option {
    margin: 80px 0;
  }
  .page .container input {
    padding: 10px 5px;
    margin: 5px 0;
  }
  .page .footer {
    width: inherith
  }
}

@media only screen and (min-width: 401px) {
  body {
    font-family: "Ubuntu", sans-serif
  }
  .page {
    border: 1px solid #dbdbdb;
    width: 350px;
    background-color: white;
    margin: 40px 40px 10px 40px;
  }
  .page .header {
    width: 270px;
    margin-top: 15px;
  }
  .page .container {
    width: 270px;
  }
  .option {
    border: 1px solid #dbdbdb;
    background-color: white;
    width: 350px;
    height: 70px;
    margin-top: 20px 0;
    display: flex;
    /* align-items: center; */
    /* 
      */
  }
  .otherapps {
    margin: 20px 0;
  }
  .otherapps button {
    margin-right: 5px;
  }
  .otherapps button:after-of-type {
    margin-right: none;
  }
  .page .footer {
    width: 100%;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(148, 9, 106);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(148, 9, 106);
  cursor: pointer;
}

/* Style the tab */

.tab {
  padding-left: 12px;
  overflow: hidden;
  /* border: 1px solid rgb(148, 9, 106); */
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.specialDate {
  background: none !important;
  color: white !important;
  background-color: rgb(148, 9, 106) !important;
}

/* Style the buttons that are used to open the tab content */

#datepicker {
  max-width: 100px;
  margin-bottom: 64px;
}

#cal {
  margin-top: 72px !important;
  max-width: 100%;
}

.ui-datepicker-prev {
  background-color: rgb(148, 9, 106);
  border-radius: 40px;
  color: white;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 12px;
  transition: 0.3s;
}

.ui-datepicker-title {
  padding-left: 100px;
  margin-top: -18px;
  margin-bottom: 16px;
  text-align: right;
}

.ui-datepicker-next {
  margin-left: 164px !important;
  background-color: rgb(148, 9, 106);
  border-radius: 40px;
  color: white;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 12px;
  transition: 0.3s;
}

a {
  color: black;
  text-decoration: none;
}

.tab button {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
  border-radius: 40px;
  color: white;
}

/* Style the tab content */

.tabcontent {
  display: none;
  padding: 4px 12px;
  /* border: 1px solid rgb(148, 9, 106); */
  border-top: none;
}

#worldmeter {
  width: 100%;
  height: 100%;
  border: none;
}

#excelDataTable {
  width: 85vw !important;
  height: 50vh !important;
  overflow: auto;
}

/* #symptom_table {
  width: 100% !important;
height: 100% !important;
} */

/* #excelDataTable {
  font-family: "Ubuntu", "sans-serif";
  border-collapse: collapse;
  width: 100%;
}

#excelDataTable td, #excelDataTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#excelDataTable tr:nth-child(even){background-color: #f2f2f2;}

#excelDataTable tr:hover {background-color: #ddd;}

#excelDataTable th {
  padding-top: 10px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(148, 9, 106);
  color: white;
} */

table {
  border: 1px solid rgba(0, 0, 0, 0);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}

#symptom_table {
  width: 85vw !important;
  height: 50vh !important;
  overflow: auto;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
}

table th, table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.button {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 91, 1) 0%, rgba(128, 0, 88, 1) 100%);
  font: 16px "Ubuntu", sans-serif;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* #symptom_table {
  width:100%; 
  height: 100%;
  overflow: auto;
} */

.logo {
  padding: 7px;
  text-align: center;
  color: white;
  font-size: 30px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  max-width: 100px;
  margin: auto;
  background-color: #555;
  height: 100px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: white !important;
  position: relative;
}

.topnav #myLinks {
  display: none;
  color: black;
}

.insidelink {
  color: black !important;
  text-align: center;
}

.topnav a {
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 10px;
  display: block;
}

.topnav a.icon {
  background: rgb(148, 9, 106);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  color: white;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}